<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<body>

<div class="container">
    <div th:if="${not #lists.isEmpty(category1)}">
        <h3>Category List</h3>
        <table class="table table-stripped">

                <th>Category</th>

            <tr th:each="categor : ${category1}">
                <td th:text="${categor.id}"></td>
                <td th:text="${categor.category}"></td>
            </tr>
        </table>
    </div>

</div>
</body>
</html>