<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Product</title>
</head>
<body>

<form method="post" th:object="${product}" th:action="@{/product/save}">
    <input type="hidden" name="id" th:value="${product.id}" placeholder="Id"/>
    Product Name:
    <input type="text" name="productName" th:value="${product.productName}" placeholder="Product Name"/>
    <br><br>
    Product Price:
    <input type="text" name="productPrice" th:value="${product.productPrice}" placeholder="Product Price"/>
    <br><br>

    Product Category:

    <select name="productCategory" class="kaydirma" th:value="${product.productCategory}"><!-- name="proCateg" ile adını koyuyoruz entityde atayacağomız değerin.
     value ile de atayacağımız yeri belirliiyoruz.name ile aynı gibi -->
        <option th:each="tempCategory:${categories}" th:utext="${tempCategory.category}"><!-- burada category dbsi içinden  categoryliri alıp temp bir değere veryioruz. her turda bir tanesini alıyor-->
        </option><!--Burada da ekrana yazdırıyor -->
        </th:each>
    </select>
    <br><br>

    <input type="submit"  th:value="Save" style="margin-left: 75px"/>
</form>


</body>
</html>