<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(urunler)}">
        <h3>Category List</h3>
        <table class="table table-stripped">

            <tr>
                <th>Product Category</th>
                <th>Product Name</th>
                <th>Product Price</th>
            </tr>

            <tr th:each="urun : ${urunler}">
                <td th:text="${urun.productCategory}"></td>
                <td th:text="${urun.productName}"></td>
                <td th:text="${urun.productPrice}"></td>

            </tr>
        </table>
    </div>


</body>
</html>