<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <div th:if="${not #lists.isEmpty(user)}">
        <h2>User List</h2>
        <table class="table table-stripped">
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>

            <tr th:each="u : ${user}">
                <td th:text="${u.id}"></td>
                <td th:text="${u.firstName}"></td>
                <td th:text="${u.lastName}"></td>
            </tr>
        </table>
    </div>

</div>

</body>
</html>